* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 10px;
  -ms-text-size-adjast: 100%;
  -moz-text-size-adjast: 100%;
  -webkit-text-size-adjast: 100%;
}

a,
a:visited {
  text-decoration: none;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav,
main,
section,
footer,
header,
aside {
  display: block;
}

a:hover {
  text-decoration: none;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

nav ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

img {
  vertical-align: top;
}

input {
  background: transparent;
}

.error {
  border: 2px solid #ff4019 !important;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
}

.bth {
  background: transparent;
  border: none;
  cursor: pointer;
}

.is-hidden {
  display: none !important;
}

.site-container {
  overflow: hidden;
}

.img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
