root{
  --accent-color: orange;
  --font-family-main: roboto, Arial, sans-serif;
  --fonts-size-root: 14px;
  --text-color-main: #333;
  --lineheight-main: 1.2;
  --lineheight-blog: 1.65;
  --system-font: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family
}
