@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Light Italic'), local('Montserrat-LightItalic'),
  url('../fonts/montserrat/Montserrat-LightItalic.woff2') format('woff2'),
  url('../fonts/montserrat/Montserrat-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
  url('../fonts/montserrat/Montserrat-SemiBold.woff2') format('woff2'),
  url('../fonts/montserrat/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
  url('../fonts/montserrat/Montserrat-SemiBold.woff2') format('woff2'),
  url('../fonts/montserrat/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
  url('../fonts/montserrat/Montserrat-Medium.woff2') format('woff2'),
  url('../fonts/montserrat/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
  url('../fonts/montserrat/Montserrat-Medium.woff2') format('woff2'),
  url('../fonts/montserrat/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Light Italic'), local('Montserrat-LightItalic'),
  url('../fonts/montserrat/Montserrat-LightItalic.woff2') format('woff2'),
  url('../fonts/montserrat/Montserrat-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
  url('../fonts/montserrat/Montserrat-Bold.woff2') format('woff2'),
  url('../fonts/montserrat/Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
  url('../fonts/montserrat/Montserrat-Regular.woff2') format('woff2'),
  url('../fonts/montserrat/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
  url('../fonts/montserrat/Montserrat-Regular.woff2') format('woff2'),
  url('../fonts/montserrat/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Black'), local('Montserrat-Black'),
  url('../fonts/montserrat/Montserrat-Black.woff2') format('woff2'),
  url('../fonts/montserrat/Montserrat-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Black'), local('Montserrat-Black'),
  url('../fonts/montserrat/Montserrat-Black.woff2') format('woff2'),
  url('../fonts/montserrat/Montserrat-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
  url('../fonts/montserrat/Montserrat-Bold.woff2') format('woff2'),
  url('../fonts/montserrat/Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

