@font-face {
  font-family: 'Raleway Thin';
  src: local('Raleway Thin Light Italic'), local('RalewayThin-LightItalic'),
  url('../fonts/raleway/RalewayThin-LightItalic.woff2') format('woff2'),
  url('../fonts/raleway/RalewayThin-LightItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway Thin';
  src: local('Raleway Thin Black Italic'), local('RalewayThin-BlackItalic'),
  url('../fonts/raleway/RalewayThin-BlackItalic.woff2') format('woff2'),
  url('../fonts/raleway/RalewayThin-BlackItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway Thin Bold Italic'), local('RalewayThin-BoldItalic'),
  url('../fonts/raleway/RalewayThin-BoldItalic.woff2') format('woff2'),
  url('../fonts/raleway/RalewayThin-BoldItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway Thin Regular'), local('RalewayThin-Regular'),
  url('../fonts/raleway/RalewayThin-Regular.woff2') format('woff2'),
  url('../fonts/raleway/RalewayThin-Regular.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway Thin Bold Italic'), local('RalewayThin-BoldItalic'),
  url('../fonts/raleway/RalewayThin-BoldItalic.woff2') format('woff2'),
  url('../fonts/raleway/RalewayThin-BoldItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway Thin';
  src: local('Raleway Thin SemiBold'), local('RalewayThin-SemiBold'),
  url('../fonts/raleway/RalewayThin-SemiBold.woff2') format('woff2'),
  url('../fonts/raleway/RalewayThin-SemiBold.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway Thin';
  src: local('Raleway Thin Light Italic'), local('RalewayThin-LightItalic'),
  url('../fonts/raleway/RalewayThin-LightItalic.woff2') format('woff2'),
  url('../fonts/raleway/RalewayThin-LightItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway Thin';
  src: local('Raleway Thin SemiBold'), local('RalewayThin-SemiBold'),
  url('../fonts/raleway/RalewayThin-SemiBold.woff2') format('woff2'),
  url('../fonts/raleway/RalewayThin-SemiBold.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway Thin';
  src: local('Raleway Thin Black Italic'), local('RalewayThin-BlackItalic'),
  url('../fonts/raleway/RalewayThin-BlackItalic.woff2') format('woff2'),
  url('../fonts/raleway/RalewayThin-BlackItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway Thin Regular'), local('RalewayThin-Regular'),
  url('../fonts/raleway/RalewayThin-Regular.woff2') format('woff2'),
  url('../fonts/raleway/RalewayThin-Regular.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

